// Thin 100
@font-face {
  font-family: Gilroy;
  font-weight: 100;
  src: url(./Gilroy-Thin.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 100;
  font-style: italic;
  src: url(./Gilroy-ThinItalic.ttf);
}

// UltraLight 200
@font-face {
  font-family: Gilroy;
  font-weight: 200;
  src: url(./Gilroy-UltraLight.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 200;
  font-style: italic;
  src: url(./Gilroy-UltraLightItalic.ttf);
}

// Light 300
@font-face {
  font-family: Gilroy;
  font-weight: 300;
  src: url(./Gilroy-Light.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 300;
  font-style: italic;
  src: url(./Gilroy-LightItalic.ttf);
}

// Regular 400
@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url(./Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 400;
  font-style: italic;
  src: url(./Gilroy-RegularItalic.ttf);
}

// Medium 500
@font-face {
  font-family: Gilroy;
  font-weight: 500;
  src: url(./Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 500;
  font-style: italic;
  src: url(./Gilroy-MediumItalic.ttf);
}

// SemiBold 600
@font-face {
  font-family: Gilroy;
  font-weight: 600;
  src: url(./Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 600;
  font-style: italic;
  src: url(./Gilroy-SemiBoldItalic.ttf);
}

// Bold 700
@font-face {
  font-family: Gilroy;
  font-weight: 700;
  src: url(./Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 700;
  font-style: italic;
  src: url(./Gilroy-BoldItalic.ttf);
}

// ExtraBold 800
@font-face {
  font-family: Gilroy;
  font-weight: 800;
  src: url(./Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: italic;
  src: url(./Gilroy-ExtraBoldItalic.ttf);
}

// Black 900
@font-face {
  font-family: Gilroy;
  font-weight: 900;
  src: url(./Gilroy-Black.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 900;
  font-style: italic;
  src: url(./Gilroy-BlackItalic.ttf);
}

// Heavy 1000
@font-face {
  font-family: Gilroy;
  font-weight: 1000;
  src: url(./Gilroy-Heavy.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 1000;
  font-style: italic;
  src: url(./Gilroy-HeavyItalic.ttf);
}
