.calcBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8.5px;
  margin-bottom: 17.5px;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  border-bottom: 1px solid #000;

  &__text {
    font-weight: 600;
    // width: 310px;
  }

  // &__percent {
  //   font-weight: 600;
  // }

  &__value {
    font-weight: 700;
  }
}