.calcBoxTotalCost {
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;    
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 40px;
  }

  &__form {
    padding: 19px 29px 32px 113px;
    gap: 50px;
  }

  &__footer {
    background: #F2F2F2;
    &__box {
      display: flex;
      justify-content: space-between;
      padding: 20px 90px 0 110px;
      margin-bottom: 30px;
      &__name {
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
        color: #000000;
      }
      &__cost {
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
        color: #000000;
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      padding: 20px 90px 25px 110px;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 196px;
      height: 43px;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #FFFFFF;
      background: #880027;
      border-radius: 5.22919px;
    }
  }
}