@import '../../utils/mixins';

.adminCalc {
  display: grid;
  grid-template-columns: repeat(1, 350px);
  justify-content: center;
  margin: 12px 0;
  padding: 4px 8px;
  gap: 20px;

  @include on896 {
    grid-template-columns: 350px 420px;
    margin: 50px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    font-size: 16px;
  }
}

.input {
  display: block;
  width: 220px;
  height: 40px;
  padding: 4px 12px;
  font-size: 16px;
}