@import '../fonts/font-family.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: Gilroy;
}

button {
  font-family: Gilroy;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

input {
  width: 18px;
  height: 18px;
}