.calculator {

  &__header {
    margin: 0 190px 30px 130px;
  }

  &__box {
    background: #FFFFFF;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 1400px;
    margin: 0 auto 48px;
  }

}

.calcH {
  &__location {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 8px;

  }

  &__form {
    margin: 0 100px 68px;
    
    &__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      color: #000000;
      margin-bottom: 24px;
    }
    
    &__container {
      display: flex;
      gap: 44px;

      &__input {
        width: 660px;
        height: 44px;
        padding: 9px 12px;
        border: 1.3073px solid #D8D8D8;
        border-radius: 5.22919px;
        outline: inherit;
      }

      &__button {
        width: 316.37px;
        height: 43.14px;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: #FFFFFF;
        background: #223C2B;
        border-radius: 5.22919px;
      }
    }
  }

  &__footer {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
  }
}

.calcGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.calcBoxCustoms {
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;    
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 40px;
  }

  &__form {
    padding: 19px 29px 32px 113px;
    gap: 50px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    padding: 20px 116px;
    color: #FFFFFF;
    background: #223C2B;
  }

  &__infoCont {
    width: 580px;

    &__engine {
      margin-bottom: 31px;
      &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        color: #000000;
        margin-bottom: 12px;
      }
      &__buttons {
        display: flex;
        justify-content: space-between;
      }
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 124px;
        height: 44px;
        font-weight: 700;
        font-size: 21px;
        line-height: 144.5%;
        color: #000000;
        background: #FFFFFF;
        box-shadow: 3.79581px 3.79581px 10.6283px rgba(0, 0, 0, 0.15);
        border-radius: 3.79581px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &__auction {
      margin-bottom: 31px;
      &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        color: #000000;
        margin-bottom: 12px;
      }
      &__buttons {
        display: flex;
        justify-content: space-between;
      }
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 163px;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 4.50753px 4.50753px 12.6211px rgba(0, 0, 0, 0.15);
        border-radius: 4.50753px;
        &:hover {
          cursor: pointer;
        }
        &--copart {
          width: 116px;
        }
        &--manheim {
          width: 127px;
        }
        &--aiia {
          width: 83px;
        }
      }
    }

    &__addition {
      display: flex;
      justify-content: space-between;
      &__box {
        display: flex;
        flex-direction: column;
        width: max-content;
        &__title {
          font-weight: 700;
          font-size: 25px;
          line-height: 130%;
          color: #000000;
          margin-bottom: 14px;
        }
        &__input {
          font-weight: 600;
          font-size: 20px;
          line-height: 130%;
          width: 160px;
          height: 43px;
          padding: 9px 15px;
          color: #000000;
          border: 1.3073px solid #D8D8D8;
          border-radius: 5.22919px;
          outline: none;
          &::placeholder {
            color: #6C6C6C;
          }
          &:focus {
            border: 1.3073px solid #000000;
          }
        }
      }
    }
  }

  &__imageCont {
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
      width: 626px;
    }
  }

  &__resultsCont{
    padding-right: 60px;
    &__box {
      display: flex;
      justify-content: space-between;
      padding-bottom: 8.5px;
      margin-bottom: 17.5px;
      font-size: 20px;
      line-height: 130%;
      color: #000000;
      border-bottom: 1px solid #000;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
      &--last {
        border: none;
      }
      &__name {
        font-weight: 600;
        width: 260px;
      }
      &__percent {
        font-weight: 600;
      }
      &__cost {
        font-weight: 700;
      }
    }
  }
}

.calcBoxDelivery {
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;    
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 40px;
  }

  &__form {
    padding: 19px 29px 32px 113px;
    gap: 50px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    padding: 20px 116px;
    color: #FFFFFF;
    background: #223C2B;
  }

  &__category {
    &__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      color: #000000;
      margin-bottom: 17px;
    }
    &__buttons {
      display: flex;
      gap: 43px;
      margin-bottom: 107px;
    }

    &__button {
      width: 152px;
      height: 162px;
      text-align: center;
      padding: 24px 8px 22px;
      background: #FFFFFF;
      box-shadow: 4.50753px 4.50753px 12.6211px rgba(0, 0, 0, 0.15);
      border-radius: 4.50753px;
      
      &__title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 9px;
        color: #000000;
      }
      &__text {
        width: min-content;
        margin: auto;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
      }
    }
  }

  &__map {
    padding-right: 60px;
    &__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      color: #000000;
      margin-bottom: 18px;
    }
    &__buttons {
      display: flex;
      justify-content: center;
      gap: 43px;
      margin-bottom: 29px;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 152px;
      height: 69px;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      color: #000000;
      background: #FFFFFF;
      box-shadow: 4.50753px 4.50753px 12.6211px rgba(0, 0, 0, 0.15);
      border-radius: 4.50753px;
    }
    &__image {
      width: 481px;
      margin: auto;
      margin-bottom: 48px;
    }
    &__ports {
      display: flex;
      justify-content: space-between;
    }
    &__port {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      font-size: 20px;
      line-height: 130%;
      color: #000000;
      &__image {
        &__ukraine {
          margin-bottom: 12px;
        }
        &__german {
          margin-bottom: 14px;
        }
        &__georgia {
          margin-bottom: 27px;
        }
      }
      &__country {
        font-weight: 700;
        
      }
    }
  }

  &__resultsCont {
    padding-right: 60px;
    &__box {
      display: flex;
      justify-content: space-between;
      padding: 8.5px;
      margin-bottom: 17.5px;
      border-bottom: 1px solid #7C7C7C;

      &:last-child {
        margin-bottom: 0;
      }
      &__name {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
      }

      &__cost {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
      }
    }
  }
}

.calcBoxTotalCost {
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;    
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 40px;
  }

  &__form {
    padding: 19px 29px 32px 113px;
    gap: 50px;
  }

  &__footer {
    background: #F2F2F2;
    &__box {
      display: flex;
      justify-content: space-between;
      padding: 20px 90px 0 110px;
      margin-bottom: 30px;
      &__name {
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
        color: #000000;
      }
      &__cost {
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
        color: #000000;
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      padding: 20px 90px 25px 110px;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 196px;
      height: 43px;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #FFFFFF;
      background: #880027;
      border-radius: 5.22919px;
    }
  }

  &__resultsCont {
    padding-right: 60px;
    &__box {
      display: flex;
      justify-content: space-between;
      padding-bottom: 8.5px;
      margin-bottom: 17.5px;
      border-bottom: 1px solid #7C7C7C;
      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }

      &__name {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
        &--lable {
          margin-left: 13px;
        }
      }
      &__percent {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: #AFAFAF;
      }
      &__cost {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
      }
    }
  }
}

input:checked + .calcBoxCustoms__infoCont__engine__button {
  color: #880027;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 23px rgba(0, 0, 0, 0.15);
}

input:checked + .calcBoxCustoms__infoCont__auction__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 30px rgba(0, 0, 0, 0.15);
}

input:checked + .calcBoxDelivery__category__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 63px rgba(0, 0, 0, 0.15);
}

input:checked + .calcBoxDelivery__category__button > .calcBoxDelivery__category__button__title {
  color: #880027;
}

input:checked + .calcBoxDelivery__map__button {
  color: #880027;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 37px rgba(0, 0, 0, 0.15);
}
