.mapCanada__state {
  fill: #C4C4C4;
  stroke: #B9B9B9;
  cursor: pointer;

  &:hover {
    fill: #223C2B;
    stroke: #223C2B;
  }

  &__name {
    fill: #FFFFFF;
    font-size: 36px;

    &--over {
      fill: #C4C4C4;
      font-size: 36px;
    }
  }

  &--selected {
    fill: #223C2B;
  }
}